<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwifterSockets.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>866EBDE81C86F0F500FABD9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>866EBDF71C86F0F500FABD9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>866F6C701CDCCB4200557ACE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>866F6C791CDCCB4200557ACE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>866F6C8C1CDCCCBA00557ACE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
